body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    background-color: white;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
}

.contact-info {
    margin-top: 2rem;
    text-align: left;
}

.contact-info h3 {
    margin-bottom: 1rem;
}

.contact-info p {
    margin: 0.5rem 0;
}

.contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
.group, .latest-news, .projects {
    background-color: white;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: left;
}

.group a, .latest-news a, .projects a {
    color: #4CAF50;
    text-decoration: none;
}

.group a:hover, .latest-news a:hover, .projects a:hover {
    text-decoration: underline;
}
#tecno_img {
    width: 300px;
    height: 300px;
    margin: 0px 5px 0px 5px;
}